.add-container {
  width: var(--app-width-size);
  height: var(--items-height-size);
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;

  &-light {
    background-color: var(--color-lg-very-light-gray);
  }

  &-dark {
    background-color: var(--color-dr-very-dark-desaturated-blue);
  }

  .add-input {
    width: 85%;
    height: var(--items-height-size);
    font-family: var(--font-body);
    font-size: var(--font-size-body);
    background-color: transparent;
    border: none;
    outline: none;

    &-dark {
      @extend .add-input;
      color: var(--color-dr-light-grayish-blue);
    }
  }
}

@media screen and (max-width: 900px) {
  .add-container {
    width: var(--app-width-size-mobile);
    padding: 0 0.5rem;
  }
}
