.title-container {
  width: var(--app-width-size);
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 1rem;
  color: var(--color-lg-very-light-grayish-blue);
}

.btn-theme {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .title-container {
    width: var(--app-width-size-mobile);
  }
}

.app {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  .main-container {
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.app-dark {
  background-color: var(--color-dr-very-dark-blue);
  background-image: url("../assets/images/bg-desktop-dark.jpg");
}

.app-light {
  background-color: var(--color-lg-very-light-grayish-blue);
  background-image: url("../assets/images/bg-desktop-light.jpg");
}

@media screen and (max-width: 900px) {
  .app {
    height: 95vh;
    padding-top: 4rem;
    justify-content: flex-start;

    .main-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .app-dark {
    background-image: url("../assets/images/bg-mobile-dark.jpg");
  }

  .app-light {
    background-image: url("../assets/images/bg-mobile-light.jpg");
  }
}
