.empty-todos {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &-light {
    color: var(--color-lg-grayish-blue);
  }

  &-dark {
    color: var(--color-dr-dark-grayish-blue);
  }
}

.error-todos {
  @extend .empty-todos;

  &-light {
    color: var(--color-lg-grayish-blue);
  }

  &-dark {
    color: var(--color-dr-dark-grayish-blue);
  }
}
