.title-container {
  width: var(--app-width-size);
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 1rem;
  color: var(--color-lg-very-light-grayish-blue);
}

.btn-theme {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
