.title-container {
  width: 50rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 1rem;

  &-light {
    color: var(--color-lg-very-light-grayish-blue);
  }

  &-dark {
    color: var(--color-dr-very-dark-blue);
  }
}

.btn-theme {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
